@model IEnumerable<GeekShopping.Web.Models.ProductModel>

<br />
<br />
<div class="Container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Products List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="ProductCreate" class="btn btn-outline-primary">
                <i class="fas fa-plus"></i>Create new product
            </a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <td>Codigo</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Admin</td>
            </tr>
        </thead>
        @if (Model is not null)
        {
            foreach(var item in Model)
            {
                <tr>
                    <td>@item.Codigo</td>
                    <td>@item.Name</td>
                    <td>@item.CategoryName</td>
                    <td>@((item.Price).ToString("c"))</td>
                    <td>
                        <a asp-action="ProductUpdate" class="btn btn-success" asp-route-id="@item.Codigo"><i class="fas fa-edit"></i></a>
                        <a asp-action="ProductRemove" class="btn btn-danger" asp-route-id="@item.Codigo"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }    
        }
        <tbody>
        
        </tbody>
    </table>
</div>